<div style="display: @Model.DisplayAdmin">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-mishmash">
            <a class="navbar-brand nav-link-white" href="/">Mish Mash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                <ul class="navbar-nav right-side">
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/Channels/All">My Channels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/Channels/Create">Create Channel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/Users/Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <h1 class="text-center text-mishmash">Welcome Admin-@Model.Username!</h1>
    </main>
</div>