<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body>
    <h1>IRunes</h1>
    <div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    </div>
    <hr />
    <h1>Welcome to IRunes</h1>
    <h2><a href="login.html">Login</a> if you have an account.</h2>
    <h2><a href="register.html">Register</a> if you don't.</h2>
    <hr />
    <div>Copy Right &copy; Classics Design Studio. All right reserved.</div>
</body>
</html>